/* Body */
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header */
.nav-item a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #209CEE;
    margin: auto;
    display: block;
    border-radius: 50px;
}

.nav-item a:hover::after {
    width: 100%;
    transition: width 0.3s linear;
}

/* Logo */
#logo {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
    font-size: 23px;
    font-weight: bolder;
    color: black;
    z-index: 1;
}

#logo:hover {
    color: #209CEE;
}

#logo-s {
    font-weight: light;
    color: #209CEE;
}

#logo:hover #logo-s {
    color: #209CEE;
}

#logo-s:hover #logo {
    color: black;
}
/* Fund us Button */
.background {
    display: inline-block;
    place-items: center;
}

.button {
    color: black;
    cursor: pointer;
    font-size: 1rem;
    line-height: 2.5rem;
    max-width: 160px; 
    width: 100%; 
    margin-right: 80px;
    letter-spacing: 0.1rem;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in;
}

.button:hover {
    color: #209CEE;
}

.button svg {
    height: 40px;
    left: 0;
    top: 0; 
    position: absolute;
    width: 100%; 
}

.button rect {      
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 450, 0;
    transition: all 0.5s linear;
}

.button:hover rect {
    stroke-width: 5;
    stroke-dasharray: 20, 300;
    stroke-dashoffset: 48;
    stroke: #1F2346;
    transition: all 2s cubic-bezier(
        0.22, 1, 0.25, 1
    );
}
/* Button on Mobile resolutions */
@media screen and (max-width:800px) {
    .background{
        display: none;
    }

    .navbar-toggler {
        place-items: end;
    }
}

@media screen and (max-width: 520px) {
    .background{
        display: none;
    }

    .navbar-toggler {
        place-items: end;
    }
}
/* heading */
.heading h4{
    text-align: center;
    font-weight: bolder;
}