body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}
/* video background */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
/* nav-bar header */
/* #logo {
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    font-size: 23px;
    font-weight: bolder;
    color: black;
    z-index: 1;
}

#logo:hover {
    color: #209CEE;
}

#logo-s {
    font-weight: light;
    color: #209CEE;
}

#logo:hover #logo-s {
    color: #209CEE;
}

#logo-s:hover #logo {
    color: black;
} */

/* onboarding styling */

.onboarding-container {
    width: 100%;
    max-width: 600px;
    background-color: rgba(22, 18, 18, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    margin-bottom: -4rem;
}

.onboarding-slide {
    padding: 20px;
    text-align: center;
    display: none;
    font-weight: bolder;
}

.onboarding-slide.active {
    display: block;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bolder;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5rem;
    background-color: #209CEE;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
    width: 70%;
}

button:hover {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .onboarding-container {
        max-width: 300px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}
